# Applications
*.exe

# Incremental Linker Files
*.ilk

# Program Debug Databases
*.pdb

# SQL Database Files
*.sdf
*.opensdf
*.opendb

# Visual Studio Solution User Options
*.suo

# Visual Studio Project User Options
*.vcxproj.user

# Object Files
*.obj

# Log Files
*.log
*.tlog
*.lastbuildstate

# Compiled Resource Scripts
*.res
*.aps

# Dependency Files
*.idb
